<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="light dark" />

  {%- seo -%}

  <link rel="stylesheet" href="{{ '/assets/css/fonts.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/variables.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/reset.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/intro.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/stream.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/essay.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/essay-index.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/devlog.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/note.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/profile.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/responsive.css' | relative_url }}" />

  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}" />

  {%- feed_meta -%}
</head>
