@charset "utf-8";
@use "sass:color";
@use "minima/variables" as v;
@use "minima/mixins" as m;

// Import partials.
@use "minima/base";
@use "minima/layout";
@use "minima/syntax-highlighting";

@font-face {
  font-family: "BLOKK";
  src: url("https://cdn.rawgit.com/octoshrimpy/blokkfont/e0dd7ffa/font/BLOKKNeue-Regular.eot");
  src: url("https://cdn.rawgit.com/octoshrimpy/blokkfont/e0dd7ffa/font/BLOKKNeue-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.rawgit.com/octoshrimpy/blokkfont/e0dd7ffa/font/BLOKKNeue-Regular.woff2")
      format("woff2"),
    url("https://cdn.rawgit.com/octoshrimpy/blokkfont/e0dd7ffa/font/BLOKKNeue-Regular.woff")
      format("woff"),
    url("https://cdn.rawgit.com/octoshrimpy/blokkfont/e0dd7ffa/font/BLOKKNeue-Regular.otf")
      format("opentype"),
    url("https://cdn.rawgit.com/octoshrimpy/blokkfont/e0dd7ffa/font/BLOKKNeue-Regular.ttf")
      format("truetype"),
    url("https://cdn.rawgit.com/octoshrimpy/blokkfont/e0dd7ffa/font/BLOKKNeue-Regular.svg#BLOKKRegular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "BLOKK";
    src: url("https://cdn.rawgit.com/octoshrimpy/blokkfont/e0dd7ffa/font/BLOKKNeue-Regular.svg")
      format("svg");
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.is-blokk,
.is-blokk
  *:not([class*="fa-"]):not([class*="mdi"]):not([class*="oi"]):not(
    [class*="ion-"]
  ):not(.reset-blokk) {
  font-family: "BLOKK" !important;
}

// Logo styles

.logo__wrapper {
  display: flex;
  align-items: center;
}

.logo__name {
  display: block;
  text-align: center;
  font-family: system-ui;
  color: hsl(204, 100%, 5%);
  font-size: 40px;
}

.logo__card {
  --startDeg: 0deg;
  --startColor: hsl(100, 100%, 60%);
  --endColor: hsl(200, 100%, 60%);
  inline-size: 80px;
  block-size: 80px;

  color: white;
  background: hsl(204, 100%, 5%);
  border: 10px solid hsl(100, 100%, 60%);
  border-image-slice: 1;

  border-image-source: conic-gradient(
    from var(--startDeg, 0deg),
    var(--startColor, hsl(100, 100%, 60%)),
    var(--endColor, hsl(200, 100%, 60%)),
    var(--startColor, hsl(100, 100%, 60%))
  );

  margin: 10px 10px 10px 0;
  padding: 30px;
  display: grid;
  place-content: center;
  box-sizing: border-box;
  font-size: 50px;
  font-family: system-ui;
}

// About styles

.about__photo-container {
  margin-bottom: 1em;
}

.about__photo {
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
}

// PageNavigation styles

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
