*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #main {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

body, input, textarea, select, button {
  font-family: var(--font-mono);
  font-size: var(--text-base);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: none;
  padding: 0;
}
