---
layout: default
---

<section class="essay-index">
  <h1 class="essay-index-title">Essays</h1>

  <div class="essay-list">
    {%- for essay in site.essays -%}
      <div class="essay-list-item">
        <span class="essay-list-date">{{ essay.date | date: "%b %-d, %Y" }}</span>
        <div class="essay-list-content">
          <h2 class="essay-list-title">
            <a href="{{ essay.url | relative_url }}">{{ essay.title | escape }}</a>
          </h2>
          {%- if essay.subtitle -%}
            <p class="essay-list-excerpt">{{ essay.subtitle | escape }}</p>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>
</section>
